#menu_control {
  position:absolute;
  z-index: -2;
  opacity: 0;
}

.header {
  height: 50px;
  background-color: #fff;
  position: relative;
  margin-right: -20px;
  margin-left: -20px;
  padding-left: 20px;
}

.logo {
  width: 60px;
  height: 40px;
}

.logo img {
  width: 50px;
  height: 30px;
  vertical-align: middle;
}

.menu_btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 5px;
  right: 30px;
}

.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}

.menu_btn::before {
  content: '';
  position: absolute;
  height: 2px;
  left: 2px;
  width: 36px;
  background-color: #000;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 8px 0px #000,
              0px -8px 0px #000;
}

nav {
  width: 100%;
  background-color: #fff;
  position: absolute;
  margin-left: -20px;
  top: -400px;
  transition: .1s;
}

nav a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 20px 25px;
}

.header nav a:hover {
  color: #FF133E;
}

#menu_control:checked ~ .header nav {
  top: 50px;
}



.service h2, h4 {
text-align: center;
margin-bottom: 20px;
}


.service .intro {
  justify-content: center;
  width: 100%;
}

.service img {
  width: 100%;
}

.row.intro {
  justify-content: center;
}

.service .intro_value {
  border: 1px solid black;
  margin: 20px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.teacher {
  padding: 15px;
  margin-bottom: 15px;
}

.teacher .teacher_title {
  margin-bottom: 15px;
}


.teacher {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}


.teacher .teacher {
  border: 1px solid black;
}

.teacher_list img {
  width: 100%;
}

.intro img {
  width: 100%;
}

.press {
  text-align: center;
}

.press_link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  /* margin-left: 50px; */
}

.press_intro {
  margin-bottom: 15px;
}


.lessons h2 {
  text-align: left;
}

.lessons {
  text-align: center;
  /* border: 1px solid red; */
}

.lessons .lesson_intro {
  border: 1px solid rgb(38, 0, 255);
}

.lesson_intro img {
  width: 100%;
}

.path_intro {
  border: 1px solid black;
}

.path_intro img {
  width: 100%;;
}


.sharing h2 {
  text-align: center;
}


.articles {
  text-align: center;
}

.posts img {
  width: 100%;
}








.about_us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about_us a {
  font-size: 14.5px;
  text-decoration: none;
}



.icons ul {
  justify-content: center;
}

.superlinks {
  display: flex;
  flex-wrap: wrap;
}

.superlinks .others {
  width: 200px
}

.icons ul {
  display: flex;
  flex-wrap: wrap;
}

.icons ul li {
  padding: 5px;
}

.icons img {
  width: 100%;
}


.footer {
  text-align: center;
  background-color: #181E2D;
  color: white;
  width: 100%;
}